<div id="social-icons">
	<a href="https://github.com/soroushjp">
		<div id="github" class="social-icon">
			<i class="fa fa-fw fa-github"></i>
		</div>
	</a>
	<a href="https://twitter.com/soroushjp">
		<div id="twitter" class="social-icon">
			<i class="fa fa-fw fa-twitter"></i>
		</div>
	</a>
	<a href="https://linkedin.com/in/soroushjp">
		<div id="linkedin" class="social-icon">
			<i class="fa fa-fw fa-linkedin"></i>
		</div>
	</a>
	<a href="{{@blog.url}}/rss/">
		<div id="rss" class="social-icon">
			<i class="fa fa-fw fa-rss"></i>
		</div>
	</a>
	<a href="https://s3-us-west-1.amazonaws.com/personal-shared/Resume_Soroush_Current.pdf">
		<div id="resume" class="social-icon">
			<i class="fa fa-fw fa-file-text"></i>
		</div>
	</a>
</div